*.pyc
.ipynb_checkpoints/
.asetup.save
athena/
build/
BucketDumperConfigs/athena/
BucketDumperConfigs/build/
BucketDumperConfigs/data*/
BucketDumperConfigs/.asetup.save
data*/
hdd_data
models/
wandb/
*_debug.ipynb
*.pt
*.h5
*.npz
*.log
*.txt
*.csv
*.pdf
*.png
*.jpg
*.jpeg
*.svg
*.json
*.yaml
*.zip
*.tar.gz
